<!DOCTYPE html>
{% extends 'student/studentbase.html' %} {% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>No Attempt</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
  <style media="screen">
    .flash-warning {
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<div class="container">
  <input type="hidden" value="{{ student.fullname }}">
  {% with messages = get_flashed_messages(with_categories=true) %} 
  {% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="flash-{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}